

    <header class="l-header">

<div class="l-header__logo">
  <a href="index.html">
    <img src="assets/images/image-logo.png" alt="ロゴ">
  </a>
</div>

      <ul class="l-header__linkList">
        <li>
          <a href="about.html" class="l-header__link">河北一也について</a>
        </li>
        <li>
          <a href="works.html" class="l-header__link">制作物</a>
        </li>
        <li>
          <a href="api/contact.php" class="l-header__link">お問い合わせ</a>
        </li>
      </ul>

    </header>