.l-footer {
  color: $colorGray;
  background-color: #000;
  @include mq(o-sp) {
    display: flex;
    flex-direction: row;
  }
  @include mq(u-sp) {
  }

  &__inner {
    display: flex;
    @include mq(o-sp) {
      flex-wrap: wrap;
      width: 100%;
      margin: 30px 50px 0;
    }
    @include mq(u-sp) {
      display: block;
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    @include mq(o-sp) {
      width: 75%;
    }
  }

  &__listItem {
    display: flex;
    align-items: center;

    @include mq(o-sp) {
      width: 25%;
      font-size: 1rem;
    }
    @include mq(u-sp) {
      width: 50%;
      font-size: 2rem;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-top: 50px;
    }

    a {
      &:hover {
        color: $colorMain;
      }
    }
  }

  &__sns {
    display: flex;
    @include mq(o-sp) {
      justify-content: flex-start;
      width: 75%;
      margin: 50px 0;
    }
    @include mq(u-sp) {
      margin: 50px 0;
      border-top: 1px solid $colorGray;
      border-bottom: 1px solid $colorGray;
    }
  }

  &__snsItem {
    display: flex;
    align-items: center;
    width: 25%;

    @include mq(u-sp) {
      justify-content: center;
      height: 80px;
    }
    a {
      &:hover {
        color: $colorMain;
      }
    }
  }

  &__copy {
    font-size: 0.8rem;
    color: $colorGray;
    text-align: center;
    @include mq(o-sp) {
      display: flex;
      width: 25%;
      align-items: center;
    }
    @include mq(u-sp) {
    }
  }
}
