<% var title="河北のポートフォリオ4" ; var description="トップのdescription" ; %>

    <% include src/ejs/template/_head %>

        <body>
            <div class="l-wrap">
                <% include src/ejs/template/_header %>
                
                <% include src/ejs/template/_footer %>
            </div><!-- l-wrap -->
        </body>

        </html>