<% var title="河北のポートフォリオ4" ; var description="トップのdescription" ; %>

  <% include src/ejs/template/_head %>
    <% include src/ejs/template/_load %>
    <div class="p-top__item scrollify" data-section-name="top">
      <% include src/ejs/template/_header %>

        <div class="p-top__heroBox">
          <div class="p-top__hero">

            <p class="p-top__aboutText">↓click!</p>
            <a href="about.html" class="p-top__about"></a>
          </div>
        </div>

        </div><!-- p-menu__item -->
        <% include src/ejs/template/_footer %>
