
.p-pager {
  @include mq(o-sp) {
    z-index: 1;
    position: fixed;
    top:50%;
    left: 0;
    transform: translateY(-50%);
    padding: 0;
    li {
      display: block;
      margin: 20px;
      a {
        display: block;
        width: 10px;
        height: 10px;
        background: #fff;
        border-radius: 50%;
      }
    }
  }
  @include mq(u-sp) {
display: none;
  }
  .is-current {
    a {
      background: #232323;
    }
  }
}
