.p-thanks {
  position: relative;
  height: 100vh;

  &__content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
  }

  &__text{
    text-align: center;
    font-size: 2rem;
  }

  &__link{
    margin-top: 20px;
    @include mq(o-sp) {
      position: relative;
      display: inline-block;
      padding: 1em 1em;
      border: 1px solid $colorMain;
      color: $colorBlack;
      font-size: 1rem;
      text-align: center;
      text-decoration: none;
      outline: none;
      transition: all 0.3s;

      &::before,
      &::after {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        z-index: 2;
        content: "";
        transition: all 0.3s;
      }
      &::before {
        border-top: 2px solid $colorBlack;
        border-bottom: 2px solid $colorBlack;
        transform: scale(0, 1);
      }
      &::after {
        border-right: 2px solid $colorBlack;
        border-left: 2px solid $colorBlack;
        transform: scale(1, 0);
      }
      &:hover {
        color: $colorBlack;
      }
      &:hover::after,
      &:hover::before {
        transform: scale(1);
      }
    }
  }

}

