.u-hidden {
  display: none !important;
}
.u-hidden-sp {
  @include mq(u-sp) {
    display: none !important;
  }
}
.u-hidden-pc {
  @include mq(o-sp) {
    display: none !important;
  }
}

.u-mt-20 {
  margin-top: 20px !important;
}

.u-mb-10 {
  margin-bottom: 10px !important;
}
.u-mb-0 {
  margin-bottom: 0px !important;
}

.u-ml-10 {
  margin-left: 10px !important;
}

.u-link-underLine{
  text-decoration: underline;
}