

body{
font-family:NotoSansJP-Regular;
}


.wrap {
    position: relative;
    width: 100%;
    height:100vh;
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    
}

.inner{
margin: 20px auto　0;
}

.title{
    font-size:5rem;
    background-color: #FFF;
}

.heading{
    margin-top:30px;
font-size:3rem;
}

.text{

}

.link{

}